@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}


<h1>About Us</h1>
<h2> Mission Statement</h2>

<p>
    mission of Rochester Math and Science Academy is to maximize opportunities for children through educational innovation that will ensure their full development as healthy and positive contributors to the greater community.
</p>
<h2>
    Vision Statement
</h2>
<p>
    The school’s vision will meet the distinct needs of our newly arrived student population. Rochester Math and Science Academy (RMSA) will create a supportive family teaching community that utilizes shared ideals, goals and experiences as a major tool for fostering a comprehensive and challenging education. The vision is to meet the distinct needs of Rochester’s diverse student population.

    We will use projects and mentorships to integrate learning, encourage daily reading and writing, and motivate academic achievement. Rochester Math and Science Academy will place the student at the center of a diverse and mutually respectful educational community of teachers, parents, inter-generational community volunteers, and experienced teachers who will all act as guidance counselors and student advocates.

    We will encourage and assist parents and other adults to reinforce student academic performance through extensive student writing and reading. We will work to foster character, initiative, leadership, problem solving, critical thinking, teamwork, and communication as well as academic skills in math/science/technology, the humanities, and communication.
</p>
<h2>
    Our Values
</h2>
<ul>


    <li> Child focused</li>
    <li>Community of respect, responsibility, honesty, and integrity</li>
    <li>Accepting of individual differences</li>
    <li>Safe, nurturing environment</li>
    <li>High academic standards for both students and staff</li>
    <li>Collaborative environment</li>
</ul>
<h2>Our Goals</h2>
<ul>
    <li>
        Proficient performance on standardized measures of academic achievement in reading, writing, math, science, and social studies.
    </li>
    <li> Increased engagement and enthusiasm for learning.</li>
    <li> Greater pride and ownership in accomplishments.</li>
    <li>   Increased use of technology as a teaching and learning tool.</li>
    <li>   Value parent(s) and/or guardian(s) as active partners in student learning.</li>
    <li>   Create and maintain a safe school.</li>
    <li>    Create and maintain a welcoming school.</li>
    <li>   Recruit and support a high performing workforce.</li>
    <li>   Integrate the continuous improvement philosophy and process throughout the system.</li>
</ul>