@{
    ViewBag.Title = "Board";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Board Members</h1>
<ul>
    <li>Ali Jaras - Board Chairman</li>
    <li>Deq Ahmed</li>
    <li>Jeff Lampo</li>
    <li>Mahamoud Hassan</li>
    <li>Ahmed Elmi</li>
</ul>


<h2>Board Strategic Plan Worksheet RMSA 2014-2018</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcnB5OXY0LUhuZW8/view?usp=sharing">Board Strategic Plan Worksheet RMSA 2014-2018</a>
<br />
<hr />
<h2>Board Meetings for School Year 2015-2016</h2>
<a href="https://drive.google.com/file/d/0ByU8QwFN67fJeTNTYUVtUjZGZ2hmZnlaQTRWRzhZRWhLd0NF/view?usp=sharing">Board Meetings for School Year 2015-2016</a>
<hr />
<h2>Board Meetings Schedule for School Year 2014-2015</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJXzZlcmE2VjBDOW1QVkNEZk9UUGVUcmowc1Jr/edit?usp=sharing">Board Meetings for School Year 2014-2015</a>
<h2>RMSA school board Meeting</h2>
<hr />
<p>
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJa0hBSzI5bHIzbUtNRzl0T3R2cWxoMmNrYWZJ/view?usp=sharing">Board Meeting Minutes for June 17, 2015</a>
    <br />
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJN2oxaXp4aUM5T1ZfdFJZLUlIaThHZjNwS3VR/view?usp=sharing">Board Agenda June 17, 2015</a>
    <br />

    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJRFhsSjlfWEo3ZXJsbC1IZ2Z0Sm4yVXZvNFlN/view?usp=sharing">Board Meeting Minutes for May 19, 2015</a>
    <br />
    
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJOXR0elJCMy1KMkFsdVFvZ210c3JRaUlwYzNn/view?usp=sharing">Board Agenda May 19, 2015</a>
    <br />

    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJUTBQRmFTdzdBODRrU0VQT2RLNkpFOUw2VS1n/view?usp=sharing">Board Meeting Minutes for April 20, 2015</a>
    <br />
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJMFlDZ25XaTJrUVZFb3o1SVJkUEhBZ1ZxSnpN/view?usp=sharing">Board Agenda April 20, 2015</a>
    <br />
    
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJUEUzZmhZXzFhMi14T0gxcXN6VTA2MTU3aEpV/view?usp=sharing">Board Meeting Minutes for March 18, 2015</a>
    <br/>
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNHIzODdGNmlXNGlSaG9kQW9QbkVXdVBucTlJ/view?usp=sharing">Board Agenda March 18, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWmswb25zTzB4UkI1ei1pdUtKdXgxN0RVWVdv/view?usp=sharing">Board Meeting Minutes for February 24, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJU3UzSnhfVnY2SzFUUUtITFNfSTBYUlZuX0tJ/view?usp=sharing">Board agenda February 24, 2015 </a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJc24wNUtUdnRWSk5Za25hWjZaMld2NTFSV2Y0/view?usp=sharing">Board Meeting Minutes for January 21, 2015</a> <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJaDk3WkVaSTlqcE53blV5aUZtVE9aLXNaRElV/view?usp=sharing">Board Agenda for January 21, 2015</a>
    <br />
    <a target="_blank" href="https://docs.google.com/document/d/1T2BqDm2KKorZ-crpQNNgWX4YdEd6VJq85svKvN3o0sU/edit?pli=1">Board Meeting Minutes for November 19, 2014</a><br />


    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJeHI1UUhCeEhLVnpMd19iZ2x4eEtiTXMtcEZJ/edit?usp=sharing">Board Agenda -  September 17, 2014</a><br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJa05LXzZjazExQ2dZUnI2U1JfY3V4UDg2dFdn/edit?usp=sharing">Board Meeting Minutes for September 17, 2014</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJSDQ0YUl5QVAxOS0wZUJqLWVzY0JZdHNfa29n/edit?usp=sharing">Board Agenda - September 10, 2014</a><br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJXzdKdEVjcFE1bkg3LXlTdzhoNUxsVjI2bWVj/edit?usp=sharing">  Board Meeting Minutes, September 10, 2014</a>
    <br />
    <a target="_blank" href="https://www.dropbox.com/s/b6un712ckewjq3n/Boardmtg916213.docx">Board Meeting Minutes, September 18, 2013</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/mkcs78z3nkm8bo1/rmsabrdmtgjan2014.docx">Board Meeting Minutes, November 20, 2013</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/y9wg0967o8thj0e/rmsabrdmtgmarch2014.docx">Board Meeting Minutes for March 19, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/u8lktvk0lp9bpuf/rmsabrdmtgmay21.docx">Board Meeting Minutes for May 21, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/ebf0le3xszbnn31/rmsabrdmtgjuly.docx">Board Meeting Minutes for July 16, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/ni553lkrnl0q5nc/BOARD%20AGENDA-07172014114123.pdf">Board Meeting July 16, 2014</a>
</p>
<h2>Annual Reports</h2>
<hr />
<p>
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJQzJhNWl3RklFNHplYUZsS1JDRUltTVJVR2Mw/view?usp=sharing">Rochester Math and Science Academy FY15 Budget Publication</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWTZXNXZTRUJrNlBjZ3pkazc3US10VndjUER3/view?usp=sharing">Annual Report - 2013-14 Academic School Year</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJTHlBazU5STB2MkxoQUdPZzdxTnMyT3BiSmpz/edit?usp=sharing">Annual Report - 2012-13 Academic School Year</a><br />

    <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cm1zYWNhZGVteS5vcmd8cm9jaGVzdGVyLW1hdGgtYW5kLXNjaWVuY2UtYWNhZGVteXxneDpiNDllNDUwZDQzMDU1ZQ">Annual Report - 2010-11 Academic School Year</a><br />
    <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cm1zYWNhZGVteS5vcmd8cm9jaGVzdGVyLW1hdGgtYW5kLXNjaWVuY2UtYWNhZGVteXxneDoyNGI5YzNiZDRkMzc2Y2Nl">Annual Report - 2009-10 Academic School Year</a>


</p>


