
@{
    ViewBag.Title = "Board";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Board Members</h1>
<ul>
    <li>Ali Jaras - Board Chairman</li>
    <li>Deq Ahmed</li>
    <li>Lita Luke</li>
    <li>Mahamoud Hassan</li>
</ul>

