@{
    ViewBag.Title = "Board";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Rochester Math and Science Academy Board Roster</h1>
<table class="table table-striped table-bordered table-condensed table-hover boardMembers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ali Jaras</td>
            <td>Board Chairman</td>
            <td>
                <span>Phone</span>:507-252-5995
                <br />
                <span>Email</span>: ajaras@rmsacademy.org
            </td>
        </tr>
        <tr>
            <td>Deq Ahmed</td>
            <td>Treasurer</td>
            <td>
                <span>Phone</span>:507-252-5995
                <br />
                <span>Email</span>: dahmed@rmsacademy.org
            </td>
        </tr>
        <tr>
            <td>Jeff Lampo</td>
            <td>Teacher</td>
            <td>
                <span>Phone</span>:507-252-5995
                <br />
                <span>Email</span>: jlampo@rmsacademy.org
            </td>
        </tr>
        <tr>
            <td>Mahamoud Hassan</td>
            <td>Parent</td>
            <td>
                <span>Phone</span>:507-252-5995
            </td>
        </tr>
        <tr>
            <td>Ahmed Elmi</td>
            <td>Community Member</td>
            <td>
                <span>Phone</span>:612-600-3535
                <br />
                <span>Email</span>: Ahelmi@metroschools.mn.org
            </td>
        </tr>
    </tbody>
</table>
<hr />
<h2>Board Strategic Plan Worksheet RMSA 2014-2018</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcnB5OXY0LUhuZW8/view?usp=sharing">Board Strategic Plan Worksheet RMSA 2014-2018</a>
<br />
<hr />
<h2>Board Meetings for School Year 2015-2016</h2>
<a href="https://drive.google.com/file/d/0ByU8QwFN67fJeTNTYUVtUjZGZ2hmZnlaQTRWRzhZRWhLd0NF/view?usp=sharing">Board Meetings for School Year 2015-2016</a>
<hr />
<h2>Board Meetings Schedule for School Year 2014-2015</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJXzZlcmE2VjBDOW1QVkNEZk9UUGVUcmowc1Jr/edit?usp=sharing">Board Meetings for School Year 2014-2015</a>
<h2>RMSA school board Meeting</h2>
<hr />
<p>
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMXpGTGk1aVRacHRJY2ZIOHczeFZnYjNmcnR3/view?usp=sharing">Board Meeting Minutes for April 20, 2016</a>
    <br/>
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJU1JDalJLckJTeV9UcFU5ZXdPRDR4REhoUC1B/view?usp=sharing">Board Agenda for April 20, 2016</a>
    <br/>
   
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJLW5aUlZVcDZmQWMwMllhV3YyTHVTWW5JYUVZ/view?usp=sharing">Board Meeting Minutes for March 21, 2016</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJSU9nSFk5WE4weDVFVFJza3BvV3NRYy1tYkZr/view?usp=sharing">Board Agenda for March 21, 2016</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJVUFVdGdYU25YYVZDY29vOVV0aUpqTC1idVd3/view?usp=sharing">Board Meeting Minutes for February 17, 2016</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJSGNPbWNxNnByakxhMVhBUC00SlY2OTF2S0U4/view?usp=sharing">Board Agenda for February 17, 2016</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJQVVEWGJPTlFDLXZHT2JjWG5hLWpKa3FndU8w/view?usp=sharing">Board Meeting Minutes for January 20, 2016</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNFQxXzIxY0ZuV282am9DcnViUUhRenVpQTRN/view?usp=sharing">Board Agenda for January 20, 2016</a>
    <br />
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJSzIzZmNWMUJEWEVacjhHTWNUMVRuSGxQSkdJ/view?usp=sharing">Board Meeting Minutes for December 21, 2015</a>
    <br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJZkp1NGJYUG9JeVU3V193LTZ6bGprTUFvSU5Z/view?usp=sharing">Board Agenda for December 21, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJN3NZNnNkQWNEZDlrYl9pclF0UncyUVoyV1Fn/view?usp=sharing">Special Board Meeting Minutes for November 30, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMGxtS0dZaFRxUlRNdlc0TEhWVDg1MUk3S2Jn/view?usp=sharing">Special Board Meeting Agenda for November 30, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJVFhsbFBEWHZjblRXVHJuRG5ibnNBa1ZJcC04/view?usp=sharing">Board Meeting Minutes for November 18, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJYnhYT2lsQzBRcHZKdWpiOW5LRzFicUNmX0xN/view?usp=sharing">Board Agenda November 18, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJUHA1czRYWkhqRjNCcFdtaEp4bmZkRzNuOVdj/view?usp=sharing">Board Meeting Minutes for October 26, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJR3hyYXhRdVBRWnFXeFNZbmNwdWRGa0dsV0dF/view?usp=sharing">Board Meeting Minutes for September 16, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJTDVPUFo4RmpobXdTaHFSTmMzQ0YwZ0F4Vl84/view?usp=sharing">Board Agenda for September 16, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNy1lWEtfRUcwcDV0bGM3Tm1mSlg2NExBOWRj/view?usp=sharing">Board Meeting Minutes for August 26, 2015</a>

    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJRGVRc3djVlM3WXduMEFDOU1kbDhXX1J4YVBr/view?usp=sharing">Board Meeting Minutes for July 8, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJazd2Mk5RNGxxNWR0LUVuaE1jaTNJOUg1YVp3/view?usp=sharing">Special Approved Board Minutes for July 8, 2015 </a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNWpQWXl2SVVySWF5UEplSW5WdnYta2gycHVF/view?usp=sharing">Special Board Meeting for July 8, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJa0hBSzI5bHIzbUtNRzl0T3R2cWxoMmNrYWZJ/view?usp=sharing">Board Meeting Minutes for June 17, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJN2oxaXp4aUM5T1ZfdFJZLUlIaThHZjNwS3VR/view?usp=sharing">Board Agenda June 17, 2015</a>
    <br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJRFhsSjlfWEo3ZXJsbC1IZ2Z0Sm4yVXZvNFlN/view?usp=sharing">Board Meeting Minutes for May 19, 2015</a>
    <br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJOXR0elJCMy1KMkFsdVFvZ210c3JRaUlwYzNn/view?usp=sharing">Board Agenda May 19, 2015</a>
    <br />

    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJUTBQRmFTdzdBODRrU0VQT2RLNkpFOUw2VS1n/view?usp=sharing">Board Meeting Minutes for April 20, 2015</a>
    <br />
    <a href="https://drive.google.com/file/d/0ByU8QwFN67fJMFlDZ25XaTJrUVZFb3o1SVJkUEhBZ1ZxSnpN/view?usp=sharing">Board Agenda April 20, 2015</a>
    <br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJUEUzZmhZXzFhMi14T0gxcXN6VTA2MTU3aEpV/view?usp=sharing">Board Meeting Minutes for March 18, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNHIzODdGNmlXNGlSaG9kQW9QbkVXdVBucTlJ/view?usp=sharing">Board Agenda March 18, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWmswb25zTzB4UkI1ei1pdUtKdXgxN0RVWVdv/view?usp=sharing">Board Meeting Minutes for February 24, 2015</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJU3UzSnhfVnY2SzFUUUtITFNfSTBYUlZuX0tJ/view?usp=sharing">Board agenda February 24, 2015 </a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJc24wNUtUdnRWSk5Za25hWjZaMld2NTFSV2Y0/view?usp=sharing">Board Meeting Minutes for January 21, 2015</a> <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJaDk3WkVaSTlqcE53blV5aUZtVE9aLXNaRElV/view?usp=sharing">Board Agenda for January 21, 2015</a>
    <br />
    <a target="_blank" href="https://docs.google.com/document/d/1T2BqDm2KKorZ-crpQNNgWX4YdEd6VJq85svKvN3o0sU/edit?pli=1">Board Meeting Minutes for November 19, 2014</a><br />


    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJeHI1UUhCeEhLVnpMd19iZ2x4eEtiTXMtcEZJ/edit?usp=sharing">Board Agenda -  September 17, 2014</a><br />

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJa05LXzZjazExQ2dZUnI2U1JfY3V4UDg2dFdn/edit?usp=sharing">Board Meeting Minutes for September 17, 2014</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJSDQ0YUl5QVAxOS0wZUJqLWVzY0JZdHNfa29n/edit?usp=sharing">Board Agenda - September 10, 2014</a><br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJXzdKdEVjcFE1bkg3LXlTdzhoNUxsVjI2bWVj/edit?usp=sharing">  Board Meeting Minutes, September 10, 2014</a>
    <br />
    <a target="_blank" href="https://www.dropbox.com/s/b6un712ckewjq3n/Boardmtg916213.docx">Board Meeting Minutes, September 18, 2013</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/mkcs78z3nkm8bo1/rmsabrdmtgjan2014.docx">Board Meeting Minutes, November 20, 2013</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/y9wg0967o8thj0e/rmsabrdmtgmarch2014.docx">Board Meeting Minutes for March 19, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/u8lktvk0lp9bpuf/rmsabrdmtgmay21.docx">Board Meeting Minutes for May 21, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/ebf0le3xszbnn31/rmsabrdmtgjuly.docx">Board Meeting Minutes for July 16, 2014</a><br />
    <a target="_blank" href="https://www.dropbox.com/s/ni553lkrnl0q5nc/BOARD%20AGENDA-07172014114123.pdf">Board Meeting July 16, 2014</a>
</p>
<h2>Annual Reports</h2>
<hr />
<p>
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJSExNN2prY2NwN2dQekg1WWdwT0pucmNrbVU4/view?usp=sharing">RMSA FY16 Budget Publication</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJQzJhNWl3RklFNHplYUZsS1JDRUltTVJVR2Mw/view?usp=sharing">RMSA FY15 Budget Publication</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMkJGNUZoMElUYnlnaXAxaUlzTm9CYXowOElj/view?usp=sharing">Annual Report - 2014-15 Academic School Year</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWTZXNXZTRUJrNlBjZ3pkazc3US10VndjUER3/view?usp=sharing">Annual Report - 2013-14 Academic School Year</a>
    <br />
    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJTHlBazU5STB2MkxoQUdPZzdxTnMyT3BiSmpz/edit?usp=sharing">Annual Report - 2012-13 Academic School Year</a><br />

    <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cm1zYWNhZGVteS5vcmd8cm9jaGVzdGVyLW1hdGgtYW5kLXNjaWVuY2UtYWNhZGVteXxneDpiNDllNDUwZDQzMDU1ZQ">Annual Report - 2010-11 Academic School Year</a>
    <br />
    <a target="_blank" href="https://docs.google.com/viewer?a=v&pid=sites&srcid=cm1zYWNhZGVteS5vcmd8cm9jaGVzdGVyLW1hdGgtYW5kLXNjaWVuY2UtYWNhZGVteXxneDoyNGI5YzNiZDRkMzc2Y2Nl">Annual Report - 2009-10 Academic School Year</a>


</p>


