
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<p><a href="https://www.dropbox.com/s/b8rp8c5m6sss3wk/Calander%202014-2015.doc">Download 2014-2015 calendar</a></p>

<img src="~/Content/Images/RMSCal.png" />
