
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<p><a href="https://docs.google.com/document/d/1WVLws7TlUflrGeh86kqXQZf5F-BSvVlIQeshqxeYfA8/edit?usp=sharing">Download 2015-2016 calendar</a></p>


<img src="~/Content/Images/RMSA2016Calendar.PNG" />