@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}
<h1>Contact Us</h1>

<div class="col-lg-4">
    <address>Rochester Math and Science Academy</address>
    <address>
        415 16th Street SW <br />
        Rochester, MN 55902<br />
        <abbr title="Phone">P:</abbr>
        507-252-5995 <br />
        <strong>Email:</strong>   <a href="rmsacad@rmsacademy.org">rmsacad@rmsacademy.org</a><br />
    </address>


      


</div>
<div class="col-lg-8">
    <img src="~/Content/Images/rmsAddress.png" />
</div>