@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Documents & Policies</h1>

<h2>FUND BALANCE POLICY</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJVUV1OVpLSEFnbDhPSngtbTNSQ2lBQ3ZWNU9z/view?usp=sharing">FUND BALANCE POLICY</a>

<h2>ROCHESTER MATH & SCIENCE ACADEMY LEADERSHIP/SUPERVISION CHART</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJbk1xRU1ZZ3d6SkxuaTdGSU1IcnAwelQ5dXd3/view?usp=sharing">ROCHESTER MATH & SCIENCE ACADEMY LEADERSHIP/SUPERVISION CHART</a>

<h2>Lottery Policy</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJaTVfaVFhR1VuY0FVNlY2M2ZkT0NCUTd5UzE0/view?usp=sharing">Rochester Math and Science Academy Lottery Policy</a>

<h2>Conflicts Of Interest Policy</h2>

<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWDEyaXdmSnJtOWRaOVpBWFRZeVJFUFBkZ0xN/view?usp=sharing">Conflicts Of Interest Policy</a>

<h2>2014-2015 Celebration Eligible School List</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJRy10VDBWd2xOVnE3bU5OVkhMdWoxTEwyNDJR/view?usp=sharing">Minnesota Department of Education 2014-2015 Celebration Eligible School List</a>


<h2>Policies</h2>
<a target="_blank" href="https://www.dropbox.com/s/i1u274woz8a74i7/NEPOTISM-07172014114210.pdf">Rochester Math and Science Academy Nepotism Policy</a>


<h2>Employee Handbook</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJX1hrRl9EdEdmYmotaTJYNDI0Wm5DOU5adm1n/edit?usp=sharing">Rochester Math and Science Academy Employee Handbook</a>

<h2>Procedure</h2>

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMVFoVlR4UE45YzFCMld6YV9YS2pORHU3ekhV/edit?usp=sharing" >Election Procedure</a>

<h2>Bylaws</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJd1FzNUh0bUJIbklyN1B4ZFI5d1JIaVdxS0tr/edit?usp=sharing">Bylaws</a>

<h2>Anti-Bullying Policy</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcDNmOEFqYUUzRnBKWGVNblJKcWxXZDFOMU9J/edit?usp=sharing">Anti-Bullying Policy</a>

