@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Documents & Policies</h1>
<hr />

<h3>Minnesota Department of Education - 2014-2015 World’s Best Workforce Report Summary</h3>
<a href="https://drive.google.com/file/d/0ByU8QwFN67fJS0dyNGFpTWdsZjFDMjhNMTJWcEhqbWRhV3Bj/view?usp=sharing">2014-2015 World’s Best Workforce Report Summary</a>

<h3>Community Eligibility Provision</h3>

<a href="https://drive.google.com/file/d/0ByU8QwFN67fJYmJDQXVnU09SUEgxSXQ4ZFR0MFZ6UFFNUTlV/view?usp=sharing">Community Eligibility Provision</a>
<hr />

<h3>Rochester Math and Science Academy Wellness Policy</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNjJHZFVoWGwyVXAtT3JFS3BPQWFEYWRZRDY4/view?usp=sharing">Rochester Math and Science Academy Wellness Policy</a>
<hr />
<h3>2015-2016 Continuous Improvement School List</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcFNIOUNhTlFUajI0dG04M0ZTcXVhYVg3bVhJ/view?usp=sharing">2015-2016 Continuous Improvement School List</a>
<hr />

<h3>Policy 720 ROCHESTER MATH AND SCIENCE ACADEMY POLICY ADMINISTRATION OF THE MINNESOTA GOVERNMENT DATA PRACTICES ACT (MGDPA)</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJNHZXajRGbWo1Z3BpLTBXQTVvN2tuWnVsRUcw/view?usp=sharing">Policy 720 ROCHESTER MATH AND SCIENCE ACADEMY POLICY ADMINISTRATION OF THE MINNESOTA GOVERNMENT DATA PRACTICES ACT (MGDPA)</a>

<hr />

<h3>POLICY 902 USE OF SCHOOL FACILITIES AND EQUIPMENT</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJeXAxb0ZJSGl4ZmhjVVBRMFRYaTlIbGZOSi1F/view?usp=sharing">POLICY 902 USE OF SCHOOL FACILITIES AND EQUIPMENT</a>

<hr />

<h3>POLICY 903 FACILITY NEUTRALITY AND EQUAL ACCESS FOR BOY SCOUTS OF AMERICA, TITLE 36 GROUPS AND OTHER OUTSIDE YOUTH AND COMMUNITY GROUPS</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJQThqUDJ5cUIwRWhKV1VFMV8ydnJvRk9zMmxN/view?usp=sharing">POLICY 903 FACILITY NEUTRALITY AND EQUAL ACCESS FOR BOY SCOUTS OF AMERICA, TITLE 36 GROUPS AND OTHER OUTSIDE YOUTH AND COMMUNITY GROUPS</a>

<hr />

<h3>RMSA Parent-Teacher Compact 2015-2016</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJaENRWVFOOGpmRDNvX3RRTUVHU1lFOGs0eWpV/view?usp=sharing">RMSA Parent-Teacher Compact 2015-2016</a>

<hr />

<h3>POLICY 609  RELIGIOUS ACCOMMODATIONS</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJLWF5MnAtN01lY29weHlKSmhLUDU0S2YzZ21V/view?usp=sharing">POLICY 609  RELIGIOUS ACCOMMODATIONS</a>
<hr />

<h3>ANNUAL CHARTER SCHOOL ASSURANCES</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJQUZNeUNUQzZ2Zzl0OWw5QTlMMFhHZkNuYnI0/view?usp=sharing">ANNUAL CHARTER SCHOOL ASSURANCES</a>
<hr />

<h3>Rochester Math and Science Academy Organization Chart</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJdGFQSjVScnZPU2ZhRENfY3RZQlJDNVRTc1JN/view?usp=sharing">Rochester Math and Science Academy Organization Chart</a>

<hr />

<h3>Rochester Math and Science Academy Statement of purpose</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJclVWX1pCbWZib09rWmp1dTY2MGdlV2EtcWhv/view?usp=sharing">Rochester Math and Science Academy Statement of purpose</a>
<hr />

<!--Old Links-->
<h3>Parents & Students Handbook</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJYjIzbldDTW0xc0VzaGhWRzZIUEhKUjJRWjFz/view?usp=sharing">Parents & Students Handbook</a>

<hr />


<h3>Rochester Math and Science Academy Local Literacy Plan SY 2015-2016</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcml1ZnVYWjdQZHo1U3RTbGgwWjNjQ2xCeGhR/view?usp=sharing">Rochester Math and Science Academy Local Literacy Plan SY 2015-2016</a>
<hr />

<h3>FUND BALANCE POLICY</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJVUV1OVpLSEFnbDhPSngtbTNSQ2lBQ3ZWNU9z/view?usp=sharing">FUND BALANCE POLICY</a>
<hr />

<h3>ROCHESTER MATH & SCIENCE ACADEMY LEADERSHIP/SUPERVISION CHART</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJbk1xRU1ZZ3d6SkxuaTdGSU1IcnAwelQ5dXd3/view?usp=sharing">ROCHESTER MATH & SCIENCE ACADEMY LEADERSHIP/SUPERVISION CHART</a>

<hr />

<h3>Lottery Policy</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJaTVfaVFhR1VuY0FVNlY2M2ZkT0NCUTd5UzE0/view?usp=sharing">Rochester Math and Science Academy Lottery Policy</a>

<hr />

<h3>Conflicts Of Interest Policy</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJWDEyaXdmSnJtOWRaOVpBWFRZeVJFUFBkZ0xN/view?usp=sharing">Conflicts Of Interest Policy</a>

<hr />

<h3>2014-2015 Celebration Eligible School List</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJRy10VDBWd2xOVnE3bU5OVkhMdWoxTEwyNDJR/view?usp=sharing">Minnesota Department of Education 2014-2015 Celebration Eligible School List</a>

<hr />

<h3>Policies</h3>
<a target="_blank" href="https://www.dropbox.com/s/i1u274woz8a74i7/NEPOTISM-07172014114210.pdf">Rochester Math and Science Academy Nepotism Policy</a>

<hr />

<h3>Employee Handbook</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJX1hrRl9EdEdmYmotaTJYNDI0Wm5DOU5adm1n/edit?usp=sharing">Rochester Math and Science Academy Employee Handbook</a>

<hr />

<h3>Procedure</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMVFoVlR4UE45YzFCMld6YV9YS2pORHU3ekhV/edit?usp=sharing" >Election Procedure</a>

<hr />

<h3>Bylaws</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJd1FzNUh0bUJIbklyN1B4ZFI5d1JIaVdxS0tr/edit?usp=sharing">Bylaws</a>

<hr />

<h3>Anti-Bullying Policy</h3>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcDNmOEFqYUUzRnBKWGVNblJKcWxXZDFOMU9J/edit?usp=sharing">Anti-Bullying Policy</a>

