@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Documents & Policies</h1>


<h2>2014-2015 Celebration Eligible School List</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJRy10VDBWd2xOVnE3bU5OVkhMdWoxTEwyNDJR/view?usp=sharing">Minnesota Department of Education 2014-2015 Celebration Eligible School List</a>


<h2>Policies</h2>
<a target="_blank" href="https://www.dropbox.com/s/i1u274woz8a74i7/NEPOTISM-07172014114210.pdf">Rochester Math and Science Academy Nepotism Policy</a>


<h2>Employee Handbook</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJX1hrRl9EdEdmYmotaTJYNDI0Wm5DOU5adm1n/edit?usp=sharing">Rochester Math and Science Academy Employee Handbook</a>

<h2>Procedure</h2>

    <a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJMVFoVlR4UE45YzFCMld6YV9YS2pORHU3ekhV/edit?usp=sharing" >Election Procedure</a>

<h2>Bylaws</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJd1FzNUh0bUJIbklyN1B4ZFI5d1JIaVdxS0tr/edit?usp=sharing">Bylaws</a>

<h2>Anti-Bullying Policy</h2>
<a target="_blank" href="https://drive.google.com/file/d/0ByU8QwFN67fJcDNmOEFqYUUzRnBKWGVNblJKcWxXZDFOMU9J/edit?usp=sharing">Anti-Bullying Policy</a>

