@{
    ViewBag.Title = "ELL";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>English Learner (EL) Programs and Services</h1>

<p>
    <h3>English Learner (EL) Programs and Services</h3>
    Who are English Learners (EL), and how are they identified?
    <br />
    When a new student arrives to our school, one of the intake forms is a Home Language Questionnaire.
    The questions include, but are not limited to:<br />
    <ul>
        <li>What is the student first language?</li>
        <li>What language is normally used at home by the student?</li>
        <li>What language is normally used at home by the parent/guardian?</li>

    </ul>

    If a family designates that any language other than English is spoken for any of the above questions, further
    assessments will be done by an ESL staff member. <br />
    The results of these assessments are used to determine the English
    language proficiency level of that specific student.<a href="https://www.dropbox.com/s/2y6s5g2mne6hn0m/ELL%20Program%20Master%20Document%20RMSA%20GO%20TEAM%20-%20Google%20Drive.pdf" target="_blank">Read More</a>
   
</p>


