
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>FAQ</h1>

<p>
    <strong>Was Rochester Math and Science Academy formerly known as Adam Abdulle Academy?</strong> <br />

    Yes, our school changed names in January 2009.
</p>

<p>
    <strong>When did the Rochester Math and Science Academy open?</strong> <br />
    Rochester Math and Science Academy opened in September 2005.
</p>

<p>
    <strong>How much does it cost to attend?</strong> <br />

    Rochester Math and Science Academy is a public charter school and does not charge tuition.
</p>
<p>
    <strong> Who can attend Rochester Math and Science Academy?</strong> <br />
    Any student who meets the grade/age requirements may apply. Like other public schools, Rochester Math and Science Academy cannot discriminate against any student because of gender, religion, race, or special needs.
</p>

<p>
    <strong>  Is Rochester Math and Science Academy a parochial (religious) school?</strong> <br />
    No. Rochester Math and Science Academy is a public charter school and is not affiliated with any religion. It is non-sectarian with regard to program, admission, employment, and curriculum.
</p>

<p>
    <strong> What is a charter school?</strong> <br />

    Charter schools are public schools that are funded by the state. In 1991, Minnesota became the first state in the nation to authorize charter schools. The law (Minn. Stat. §124D.10) permits educators, parents, and other community members to create independent, public schools. The intent is to encourage innovation and positive change in education, and to provide parents, students, and educators with choices beyond traditional school districts. To promote meaningful innovation and change, charter schools are exempt from many statutes and rules governing school districts, but are held responsible for results.
    Charter schools have quickly become a significant option for Minnesota students. More than 12,000 Minnesota students attend charter schools. Ninety-one charter schools were approved to operate in Minnesota in the fall of 2003.
</p>

<p>
    <strong> How do students register?</strong> <br />

    Enrollment is open to any student entering grades K-8 for the fall of 2011. The application is available on this web site. Parents can fill out the form and submit it to the school any time. If the number of students registering exceeds the number of slots available, students will be chosen by lottery.
</p>

<p>
    <strong>  Will Rochester Math and Science Academy students have access to extracurricular activities?</strong> <br />

    Extracurricular activities are an important part of the Academy experience.
</p>
<p>

    <strong>  Is transportation provided?</strong> <br />

    Yes. Rochester Math and Science Academy provides transportation by bus.
</p>