
@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Links</h1>
<ul>
    <li><a href="http://www.ixl.com/">Practice Math & Language Arts | K–12</a></li>
    <li><a href="https://sites.google.com/a/alschools.org/tlc/">TLC</a></li>
    <li><a href="http://www.discoveryeducation.com/">Discovery Education </a></li>
    <li> <a href="https://www.edmodo.com/">Edmodo: a site middle school teachers use to post assignments and quizzes</a></li>
    <li><a href="https://h100000842.education.scholastic.com/slms/studentaccess">Scholastic Reading Counts: Students can take quizzes on books they have read</a></li>
    <li><a href="http://www.sumdog.com">SumDog: Students can play fun games while practicing math. School code is: rochester-math-and-science-academy</a> </li>
    <li><a href="http://www.freerice.com">Free Rice: This site allows students to practice vocabulary, math, science, and social studies facts.  For every question you get correct, 10 grains of rice are donated.</a> </li>
    <li><a href="http://www.funbrain.com">Fun Brain</a> </li>
    <li><a href="http://www.coolmath-games.com/">Cool Math for Kids</a> </li>
    <li><a href="http://www.studyisland.com/">Study Island</a> </li>
    <li> <a href="http://novationeducation.com/als/">A Plus</a></li>
    <li><a href="http://www.starfall.com">Star Fall: A Great game to learn and practice letter names and sounds</a></li>
    <li><a href="http://www.iknowthat.com/com/L3?Area=Paintball">Punctuation Paintball: A fun game to practice punctuation</a></li>
    <li><a href="http://pbskids.org/">PBS Kids</a></li>
    <li><a href="http://robertmunsch.com/books">Robert Munsch: author read his stories and you can listen</a></li>
    <li><a href="http://www.storylineonline.org">Story Line Online: Famous actors and actresses read picture books aloud</a></li>
    <li><a href="http://www.tumblebooks.com/library/asp/customer_login.asp?accessdenied=%2Flibrary%2Fasp%2Fhome_tumblebooks.asp">Tumble Books (user name: independentsd  password: books)</a></li>
    <li><a href="http://www.itsamadlibsworld.com/">Mad Libs</a></li>

</ul>


