@{
    ViewBag.Title = "StudentParent";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Parent Involvement</h1>
<p>
    Rochester Math and Science Academy asks each parent to volunteer two hours a month.
    We ask that you support your child's learning by making sure they read every night and do their homework.
    For more ideas and resources click these links:<br />
    <a href="http://www.scholastic.com/parents/school-success?esp=PAR/ib/20120301/emaillandingpage///EDULinks/parents/homeworkforkids/// /">Scholastic for Parents</a><br />
    <a href="http://www.scholastic.com/parents/activities-and-printables?esp=PAR/ib/20120301/emaillandingpage///EDULinks/parents/learningforkids////">Scholastic Resources for Homework Help</a>
</p>
<h2>Partnerships</h2>
<p>
    Rochester Math and Science Academy acknowledges the fact that school resources alone are not enough to
    nurture the academic, social, and emotional skills of our students,
    thereby enabling them to be successful citizens of the 21st century. We need our neighbors, local businesses, and community organizations to take a role in the education of our students. To that end, RMSA is committed to building and maintaining community & business partnerships that meet the needs of both the school and our partner organizations.
</p>
<h2>Volunteers</h2>
<p>
    Because our school primarily serves English language learners, students in all grades at RMSA benefit from
    help with literacy skills from fluent English speakers.
    Volunteers experience the rewards of seeing significant improvements in reading skills in
    the students they help and knowing that you made a difference.
    If you share your talents with the children on a regular basis,
    your time at the school will have an even longer lasting impact on both you and those you help.
    Rochester Math and Science Academy students are eager to show you what they know, and they enjoy learning while receiving personal attention. You may be looking for an opportunity to learn about teaching English as a second language, working with elementary students, helping Somali children thrive in their new culture, or just making a difference in Rochester. Whatever motivates you to serve, your patience, help and the relationships you build with students will motivate them to read, learn, and grow.
</p>
<h2>Donations</h2>
<p>
    We collect many items to raise money including: Kwik Trip Milk Moola, Kemps Milk Caps, Land-o-Lakes Milk Caps, Campbell's Labels for Education, Coke Rewards, and Box Tops for Education.  The money earned through these programs is used to purchase rewards for the students! Simply send the products and send them to school with your child, there is a donation bucket in each class. Thank You!
</p>

<h2>Interested in volunteering</h2>
<p>
    If you are interested in volunteering at Rochester Math and Science
    Academy please contact Abdi Sheikh at 507-252-5995 or
    asheikh@rmsacademy.org
</p>