
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h2>Principal’s Corner</h2>
<p>

    Dear Rochester Math and Science Academy Families and Students,
</p>
<p>
    We would like to welcome you to the 2013-2014 school year.
    I am excited to begin our 8th year together as a school.
    I am looking forward to continued efforts of community
    building within the school as well as reaching out to our local community.
    We have built a strong vision and are committed the success of all children at RMSA.
</p>
<p>
    We believe that all students have the ability to learn and they all deserve an education that is based on rigor and high expectations. We look forward to working with and collaborating with families as they help reinforce the expectations of our school and become actively involved in the everyday processes of their child’s education.
</p>
<p>
    Each new school year presents a new beginning – a new opportunity. It is our goal to continually grow and make the 2013-14 school year better than the last year. Each year, we raise the bar for ourselves and our students and we look forward to your continued support as we work to accomplish our goals.
</p>
<p>
    Thank you for your support.<br />
    Abdulkadir Abdalla<br />
    Executive Director.
</p>



