
@{
    ViewBag.Title = "SchoolNews";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>School News</h1>


<p>
    Rochester Math and Science Academy's 8th grade graduation 2014
</p>
<p> 
    <iframe class="col-lg-8" height="450" src="//www.youtube.com/embed/-pyFddavx48" frameborder="0" allowfullscreen></iframe>
</p>

