
@{
    ViewBag.Title = "Sponsor";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Sponsor</h1>
<p>
    <h3>Our school sponsor is<strong> Pillsbury United Communities</strong></h3>
    <br/>
     Katie Kohn<br />
    Charter School Liaison<br />
    Pillsbury United Communities<br />
    1200 37th Avenue North<br />
    Minneapolis, MN 55412
    <br />
    Phone: 612-787-3657<br />
    Fax: 612-304-3414<br>

    You can visit their site at:
    <a href="http://www.puc-mn.org/">http://www.puc-mn.org</a>
   

</p>