
@{
    ViewBag.Title = "Sponsor";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Sponsor Information</h1>

    <h3> Larry McKenzie</h3>
<p>
    Charter School Liaison
    <br />
    Pillsbury United Communities
    <br />

    Urban Institute- Charter Authorization Department
    <br />
    125 West Broadway Avenue, Suite 100
    <br />
    Minneapolis, Minnesota 55411
    <br />
    McKenzieL@puc-mn.org
    <br />
    www.puc-mn.org
    <br />
    Tel: 612-302-3409 
    <br />
    Fax (612) 302-3490
</p>
<hr />
<h3>Lexi Prahl</h3>
<p>
    Operations Manager
    <br />
    Charter School Authorization Department
    <br />
    Pillsbury United Communities
    <br />
    125 West Broadway Avenue, Suite 100
    <br />
    Minneapolis, Minnesota 55411
    <br />
    prahla@puc-mn.org
    <br />
    Tel: 612-302-3413
    <br />
    Fax: 612-302-3490
</p>