
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}


<h2>2014-2015 RMSA Staff Contact Information</h2>

<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Abdulkadir Abdalla</td><td>Executive Director</td><td>abdalla@rmsacademy.org/a_abdalla2000@yahoo.com</td></tr>
        <tr><td>Abdifatah Sheikh</td><td>Assistant Director</td><td>asheik@rmsacademy.org/sheikh@hotmail.com</td></tr>
        <tr><td>Deq Ahmed</td><td>Librarian/Administrative Assistant</td><td>dahmed@rmsacademy.org</td></tr>
        <tr><td>Ali Jaras</td><td>Computer Teacher/Board Chair</td><td>ajaras@rmsacademy.org</td></tr>
        <tr><td>Bazi Bin-Sheikh</td><td>Reading Speacilist</td><td>bbin-sheikh@rmsacademy.org</td></tr>
        <tr><td>Sarah Schlake</td><td>Academic Dean</td><td>sschlake@rmsacademy.org</td></tr>
        <tr><td>Tarik Kamel</td><td>3rd Grade/Academic Dean</td><td>tkamel@rmsacademy.org</td></tr>
        <tr><td>Clayton Keller</td><td>Kindergarten Teacher</td><td>ckeller@rmsacademy.org</td></tr>
        <tr><td>Matt Lounds</td><td>1st Grade Teacher</td><td>mlounds@rmsacademy.org</td></tr>
        <tr><td>Jeff Lampo</td><td>2nd Grade Teacher</td><td>jlampo@rmsacademy.org</td></tr>
        <tr><td>Jason Duncan</td><td>4th Grade Teacher</td><td>Jduncan@rmsacaademy.org</td></tr>
        <tr><td>Sam Seely</td><td>MS Social Studies</td><td>sseely@rmsacademy.org</td></tr>
        <tr><td>Charles Huber</td><td>MS Science Teacher</td><td>chuber@rmsacademy.org</td></tr>
        <tr><td>Sulaf Al-Saify</td><td>MS Math Teacher</td><td>sulaf@rmsacademy.org</td></tr>
        <tr><td>Kehinde Oloyede</td><td>MS Math Teacher</td><td>kehinde@rmsacademy.org</td></tr>
        <tr><td>Michelle Becker</td><td>MS Language Arts Teacher</td><td>mbecker@rmsacademy.org</td></tr>
        <tr><td>Ifrah Aden</td><td>MS Language Arts Teacher</td><td>ifrah@rmsacademy.org</td></tr>
        <tr><td>Kowsar Adan</td><td>Science Teacher 2nd-8th Grade</td><td>kadan@rmsacademy.org</td></tr>
        <tr><td>Mahamoud Hassan</td><td>Somali/Arabic Teacher/Instructional Aide (7th)</td><td>mahamoud@rmsacademy.org</td></tr>
        <tr><td>Ali Abdullahi</td><td>Somali/Arabic Teacher</td><td>Ali@rmsacademy.org</td></tr>
        <tr><td>Siyad Lohos</td><td>Somali/Arabic Teacher</td><td>slohos@rmsacademy.org</td></tr>
        <tr><td>Karen Hendrickson</td><td>ESL Teacher</td><td>khendrickson@rmsacademy.org</td></tr>

        <tr><td>Don Bradford</td><td>Special Education Teacher</td><td>  Dbradford@rmsacademy.org </td></tr>
        <tr><td>Ann Wade</td><td>Special Education Teacher</td><td>  Awade@rmsacademy.org     </td></tr>
        <tr><td>Tyler Krekling    </td><td>Physical Education Teacher</td><td>  Tkrekling@rmsacademy.org </td></tr>

        <tr><td>Jackie Hodnefield</td><td>Title 1 Reading Specialist</td><td>jhodnefield@rmsacademy.org</td></tr>
        <tr><td>Said Bare</td><td>Front Desk/Van Driver</td><td>&nbsp;</td></tr>
        <tr><td>Sadia Mohamed</td><td>Instructional Aide (K)</td><td>&nbsp;</td></tr>
        <tr><td>Amina Mohamed</td><td>Instructional Aide (1st)</td><td>&nbsp;</td></tr>
        <tr><td>Madina Ahmed</td><td>Instructional Aide (2nd)</td><td>&nbsp;</td></tr>
        <tr><td>Mu'ath Muqtasid</td><td>Instructional Aide (3rd)</td><td>&nbsp;</td></tr>
        <tr><td>Ibado Sabriya</td><td>Instructional Aide (4th)</td><td>&nbsp;</td></tr>
        <tr><td>Ahmed Jimale</td><td>SPED Paraprofessional</td><td>Ahmedj@rmsacademy.org</td></tr>
        <tr><td>Abubakar Farah    </td><td>SPED Paraprofessional</td><td>  Afarah@rmsacademy.org    </td></tr>
        <tr><td>Abdulahi Muhumed  </td><td>SPED Paraprofessional</td><td>  Amuhumed@rmsacademy.org  </td></tr>
        <tr><td>Ali Mohamud       </td><td>SPED Paraprofessional</td><td>  Alim@rmsacademy.org      </td></tr>
        <tr><td>Hodan Roble       </td><td>SPED Paraprofessional</td><td>  Hroble@rmsacademy.org    </td></tr>
        <tr><td>Ayan Mumin        </td><td>SPED Paraprofessional</td><td>  Ayanm@rmsacademy.org     </td></tr>
        <tr><td>Sharmarke Hamud   </td><td>SPED Paraprofessional</td><td>  Shamud@rmsacademy.org    </td></tr>
        <tr><td>Halimo Ali</td><td>Instructional Aide (5th)</td><td>&nbsp;</td></tr>
        <tr><td>Dahabo Farah</td><td>Instructional Aide (6th)</td><td>&nbsp;</td></tr>
        <tr><td>Ahmed Sugule</td><td>Instructional Aide (8th)</td><td>&nbsp;</td></tr>
        <tr><td>Shafi Kariye</td><td>Kitchen Specialist</td><td>&nbsp;</td></tr>
        <tr><td>Abdirahman Yusuf</td><td>SPED Paraprofessional</td><td>ayusuf@rmsacademy.org</td></tr>
        <tr><td>Mohamed Abdalla</td><td>SPED Paraprofessional</td><td>mabdalla@rmsacademy.org</td></tr>
        <tr><td>Mustaf Hagi</td><td>Bus Driver/Bus Supervisor</td><td>mustafhagi@hotmail.com</td></tr>
        <tr><td>Ismail Elmi</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Ibrahim Omar</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Aba-Hassan Mounye</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Ahmed Fayti</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Isse Mohamed</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Abdikadir Yalahow</td><td>Bus Driver</td><td>&nbsp;</td></tr>
        <tr><td>Mary Pat Jewison</td><td>Public Health Nurse</td><td>jewison.marypat@co.olmsted.mn.us</td></tr>
    </tbody>

</table>

