
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout-Internal.cshtml";
}

<h1>Staff Members</h1>
<ul>


    <li> Abdulkadir Abdalla &nbsp;-&nbsp;    Executive Director, aabdalla@rmsacademy.org</li>
    <li>Abdifatah Sheikh   &nbsp;-&nbsp;     Administrative Assistant, asheik@rmsacademy.org</li>
    <li>Brittany Hansen   &nbsp;-&nbsp;      Kindergarten , bhansen@rmsacademy.org</li>
    <li>Matt Lounds      &nbsp;-&nbsp;       1st Grade Teacher, mlounds@rmsacademy.org</li>
    <li>Jeff Lampo       &nbsp;-&nbsp;           2nd Grade Teacher/Academic Dean, jlampo@rmsacademy.org</li>
    <li>Tarik Kamel      &nbsp;-&nbsp;           3rd Grade Teacher, tkamel@rmsacademy.org</li>
    <li>Jessica Martinson  &nbsp;-&nbsp;       4th Grade Teacher, jmartinson@rmsacademy.org</li>
    <li>Sarah Schlake     &nbsp;-&nbsp;          4th Grade Teacher, sschlake@rmsacademy.org</li>
    <li>Andy Tupa        &nbsp;-&nbsp;           5th-8th Grade Language Arts Teacher atupa@rmsacademy.org</li>
    <li>Sam Seely       &nbsp;-&nbsp;             5th- 8th Grade Social Studies Teacher, sseely@rmsacademy.org</li>
    <li>Nafisa Ahmed     &nbsp;-&nbsp;         5th -8th Grade Science Teacher, nahmed@rmsacademy.org</li>
    <li>Sulaf Al-Saify   &nbsp;-&nbsp;            5th- 8th Grade Math Teacher  sulaf@rmsacademy.org</li>
    <li>Deq Ahmed        &nbsp;-&nbsp;         Library  dahmed@rmsacademy.org</li>
    <li>Jered Smiley   &nbsp;-&nbsp;             Physical Education Teacher, jsmiley@rmsacademy.org</li>
    <li>Lita Luke      &nbsp;-&nbsp;               Special Education Teacher, lluke@rmsacademy.org</li>
    <li>James Flores    &nbsp;-&nbsp;            Special Education Teacher, jflore@rmsacademy.org</li>
    <li>Melissa Giarratana  &nbsp;-&nbsp;      ESL Teacher, mgiarratanna@rmsacademy.org</li>
    <li>Jackie Hodnefield   &nbsp;-&nbsp;     Title 1 Reading Teacher, jhodnefield@rmsacademy.org</li>
    <li>Kehinde Olyende   &nbsp;-&nbsp;      Math Enrichment Teacher, kehinde@rmsacademy.org</li>
    <li>Ali Jaras        &nbsp;-&nbsp;               Computer Teacher, ajaras@rmsacademy.org</li>
    <li>Mahamoud Hassan   &nbsp;-&nbsp;     Arabic/Somali Teacher, mahamoud@rmsacademy.org</li>
    <li>Ali Abdullahi     &nbsp;-&nbsp;              Arabic/Somali Teacher, ali@rmsacademy.org</li>
    <li>Siyad Lohos       &nbsp;-&nbsp;             Arabic/Somali Teacher, Support Staff Teacher</li>
    <li>Ifrah Aden         &nbsp;-&nbsp;             ESL Teacher, ifrah@rmsacademy.org</li>
    <li>Bazi Bin-Sheikh    &nbsp;-&nbsp;           ESL Assistant</li>
    <li>Mu'ath Muqtasid    &nbsp;-&nbsp;          Support Staff</li>
    <li>Sadia Mohamed      &nbsp;-&nbsp;         Support Staff</li>
    <li>Amina Mohamed    &nbsp;-&nbsp;         Support Staff</li>
    <li>Madina Ahmed    &nbsp;-&nbsp;            Support Staff</li>
    <li>Ibado Sabriya    &nbsp;-&nbsp;              Support Staff</li>
    <li>Dahabo         &nbsp;-&nbsp;                  Support Staff</li>
    <li>Ahmed Sugulle    &nbsp;-&nbsp;            Support Staff</li>
    <li>Halimo Ali       &nbsp;-&nbsp;                Support Staff</li>
    <li>Sahro Diriye     &nbsp;-&nbsp;               Support Staff</li>
    <li>Halima Hassan    &nbsp;-&nbsp;             Support Staff</li>
    <li>Abdirahman Warsame  &nbsp;-&nbsp;     Bus Driver</li>
    <li>Omar Dahir       &nbsp;-&nbsp;                Bus Driver</li>
    <li>Ismail Mohamed   &nbsp;-&nbsp;             Bus Driver</li>
    <li>Joan Kotschevar &nbsp;-&nbsp;               Public Health Nurse</li>
    <li>Marisa Luna        &nbsp;-&nbsp;               School Psychologist</li>
    <li>Jill Gustafson  &nbsp;-&nbsp;                  Speech Teacher, jgustafson@rmsacademy.org</li>

</ul>
